{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block message %}
<div class="form-group">
    &nbsp;
</div>


<div class="container">
  <div class="row">
    <div class="col">
	<div class="well">
	<b>Question: </b>{{question}}<br><b>Text: </b>{{text}}<br><b>Answer: </b>{{answer}}
	</div>

    <div class="col">
	<img  class="rounded" src="data:image/png;base64,{{scores_img}}"  data-toggle="modal" data-target="#exampleModal"  ></img>
    </div>

   </div>

    </div>
</div>



{% endblock %}

<div class="well">
  	<div class="panel-body"><b>Question: </b>{{question}}<br><b>Text: </b>{{text}}<br><b>Answer: </b>{{answer}}</div>
  </div>
style="width:90%;height:90%;"